:root {
  --swiper-theme-color: rgba(255, 255, 255, 0.4);
}
* {
  scroll-behavior: smooth;
}
a, a:focus, a:hover, a:visited {
  text-decoration: none;
  text-underline: none;
  color: inherit;
}

.root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

@media screen and (max-width: 600px){
  .full-width-mobile {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }
}