$listing-card-border-radius: 1rem;
$listing-card-padding: 0.5rem;
$listing-card-width: 500px;
$listing-card-height: 150px;
$card-color: #ffffff;
$shadow: 2px 2px 0.2rem #0000000a;

.listing-card {
  height: $listing-card-height;
  width: $listing-card-width;
  max-width: 100%;
}

.listing-card a {
  text-decoration: none;
  color: unset;
}

.listing-card button {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: $listing-card-border-radius;
  align-items: center;
  font-family: "Poppins", sans-serif;

  .listing-card-images {
    height: 100%;
    width: 45%;
    background-color: $card-color;
    padding: $listing-card-padding 1rem $listing-card-padding $listing-card-padding;
    border-radius: $listing-card-border-radius 0.5rem 0.5rem $listing-card-border-radius;
    box-shadow: $shadow;

    .swiper {
      height: 100%;
      width: 100%;
      border-radius: $listing-card-border-radius;
      box-shadow: 0 4px 5px #0000002b;
    }

    img {
      object-fit: cover;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .listing-card-groove {
    min-width: 5px;
    height: 90%;
    background-color: $card-color;
    border-radius: 1px;
    display: flex;
    align-items: center;
    flex: 0;
    color: rgba(0, 0, 0, 0.7);
  }

  .listing-card-info {
    background-color: $card-color;
    width: 100%;
    height: 100%;
    border-radius:  0.5rem $listing-card-border-radius $listing-card-border-radius 0.5rem;
    padding: $listing-card-padding 1rem $listing-card-padding 1rem;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: $shadow;

    .listing-card-info-top {
      .listing-card-info-rating {
        display: flex;
        justify-content: space-between;
        color: #0000009c;
      }

      p {
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
      }
    }

    .listing-card-info-mid {
      font-size: 0.8rem;
      font-weight: 500;
      color: #0000009c;
      line-height: 20px;
      height: 40px;
      white-space: normal;
      overflow: hidden;

      div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
    .listing-card-info-bottom {
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .listing-card-info-data {
        //display: flex;
        //flex-direction: row;
        //align-items: center;
        //gap: 0.25rem;
        color: #0000009c;

        .listing-card-info-icons {
          display: flex;
          align-items: center;
          gap: 5px;
          span {
            display: flex;
            align-items: flex-end;
          }
        }
      }
      .listing-card-info-price {
        font-size: 1.5rem;
        font-weight: 700;
        color: unset;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .listing-card {
    width: 100%;
    height: 300px;
  }
  .listing-card button{
    flex-direction: column;

    .listing-card-images {
      height: 72.5%;
      width: 100%;
      padding: 0;
      border-radius: 1rem 1rem 0 0;
    }
    .listing-card-info {
      padding: $listing-card-padding;
      border-radius: 0 0 1rem 1rem;
      .listing-card-info-top {
        flex-grow: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .listing-card-info-mid {
        display: none;
        visibility: hidden;
        white-space: pre-wrap;
      }
      .listing-card-info-bottom {
        gap: 1em;
      }
    }
    .listing-card-groove {
      display: none;
    }
  }
}