$navbar-height: 60px;

nav.navbar {
  display: flex;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  z-index: 2000;
  justify-content: center;

  #logo {
    margin-left: 20px;
    margin-right: 20px;

    img {
      padding: 5px;
      height: 100%;
      object-fit: contain;
    }
  }

  .MuiList-root {
    a {
      flex-grow: 1;
      padding: 0.5rem;
      text-decoration: none;

      &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
      }
    }
  }
}